<section id="footer" class="container footer">
  <div class="row">
    <div class="col-sm-8 text-left col-sm-offset-2">
      <h3>Movimiento RAS I.A.P</h3>
      <p>
        Victoria López Carrillo 6623&#8209;27&#8209;00&#8209;40
        <br> Yliana Zavalza Esquivel 6621&#8209;05&#8209;08&#8209;08
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 text-left col-sm-offset-2">
      <p>
        Administración y Vinculación.
        <br>Tel. 6623&#8209;02&#8209;60&#8209;54
        <br id="tmp">
        <a class="mail-to" href="mailto:movimientoras@hotmail.com">¡Mandanos un correo!</a><br>
        <a href="https://www.facebook.com/MovimientoRasXLosNinosConCancerIap"><i class="fa fa-facebook-square"></i> Visitanos en facebook!</a>
      </p>
    </div>
    <div class="col-sm-4 text-center">
    </div>
    <div class="col-sm-4 text-right">
      <p>
        Sufragio&nbsp;Efectivo&nbsp;&#35;47 esquina&nbsp;con&nbsp;Espridión
        <br>Col.&nbsp;Villa&nbsp;de&nbsp;Seris
        <br>Hermosillo,&nbsp;Sonora.
      </p>
    </div>
  </div>
</section>
