<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="fa fa-bars"></span>
      </button>
      <a class="navbar-brand" href="/">{{site.title}}</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <li>
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>

